<!DOCTYPE html>
<html lang="en">
<head>    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <style>
        .cardoi {
            border-radius: 5px;
            height: 40px;
            margin: 50px auto;
            width: 80px;
            
            .wrap:hover & {
                transform: scale(2);
            }
        }

        .cardoi2 {
            background: #2b3f53;
            transition: all 1s;
        }
    </style>

</head>
<body>
    <div ng-app="myApp" ng-controller="ListController">
        <div class="container">
            <div class="row" style="padding-top: 20px;">
                <div  class="col-sm-2 text-center" ng-repeat="imgNumber in pokemon">  
                    <div class="cardoi2 cardoi"></div>    
                    <button type="button" id="showModalButton" class="border-0" style="background-color: transparent;" ng-click="getPokemonDetail(imgNumber.url)" data-bs-target="#exampleModal">                        
                        <img ng-src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{imgNumber.pokemonId}}.png' />
                        <p style="font-size: 14px;">Pokemon {{imgNumber.name}}</p>
                    </button>                         
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- Gunakan ng-include untuk memuat konten modal -->
                    <div ng-include="'ModalDetail.html'"></div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="myApp.js"></script>
    <script src="ListController.js"></script>

</body>
</html>