<div class="modal-header">
    <h5 class="modal-title">Judul Modal</h5>
    <button type="button" ng-click="closeModalPokemonDetail()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Konten modal di sini -->
    <p>Ini adalah konten modal.</p>
</div>
<div class="modal-footer">
    <button type="button" ng-click="closeModalPokemonDetail()" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
    <button type="button" class="btn btn-primary">Simpan</button>
</div>
  
